* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* google font  */
.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}
/* container 80 %  align center*/
.container {
  max-width: 80%;
  margin: auto;
}

/* color  */
.first-color {
  color: #0e0e0e;
}
.second-color {
  color: rgba(14, 14, 14, 0.7);
}

body {
  background-color: #f5f5f5;
}
/* primary button  */
.btn-primary {
  background-color: #006a50;
  color: #ffffff;
  padding: 13px 26px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid transparent;
}
.btn-primary:hover {
  background-color: #ffffff;
  color: #006a50;
  cursor: pointer;
  border: 1px solid #006a50;
}

/* Navigation bar  */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 31px 0px;
}
.nav-bar h2 {
  color: #0e0e0e;
  font-size: 32px;
  font-weight: bold;
}
.btn-signin {
  border: 1px solid #006a50;
  background: none;
  color: #006a50;
  cursor: pointer;
}
.btn-signin:hover {
  background-color: #006a50;
  color: #ffffff;
  padding: 13px 26px;
}

/* banner section  */
.banner-section {
  background-color: #c6e4d6;
  border-radius: 24px;
  border: none;
  height: 560px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 60px;
  gap: 64px;
  margin-bottom: 80px;
}
.banner-left p {
  font-size: 24px;
  font-weight: 500;
  color: rgba(14, 14, 14, 0.5);
}
.banner-left h2 {
  font-size: 52px;
  font-weight: bold;
  color: #0e0e0e;
  margin: 16px 0px 41px 0px;
}

/* Pillars of "Bangladesh 2.0" */
.pillars-title h2 {
  font-size: 40px;
  font-weight: bold;
  color: #0e0e0e;
  margin-bottom: 32px;
}
.pillars-box-wraper {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.pillars-box {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 16px;
  border: 1px solid transparent;
}

.pillars-box h3 {
  font-size: 20px;
  font-weight: bold;
  color: #0e0e0e;
  padding: 24px 0px 12px 0px;
}

/* vision future section  */
.vision-future {
  margin: 80px 0px;
}
.vision-title h2 {
  font-size: 40px;
  font-weight: bold;
}
.vision-title p {
  margin: 24px 0px 32px 0px;
}
.vision-box p {
  margin-bottom: 24px;
}
/* box button style  */
.btn-box {
  color: #ffffff;
  padding: 11px 20px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.btn-1 {
  background-color: #5490f5;
}
.btn-2 {
  background-color: #09a15c;
}
.btn-3 {
  background-color: #ffc239;
}
.box-1 {
  background-color: rgba(84, 144, 245, 0.2);
}
.box-2 {
  background-color: rgba(198, 228, 214, 1);
}
.box-3 {
  background-color: rgba(247, 235, 207, 1);
}

/* Chief Adviser information   */
.chief-intro {
  border-radius: 16px;
  background-color: #ffffff !important;
  border: 1px solid rgba(14, 14, 14, 0.15);
  padding: 48px 24px;
  background: url(/assets/quote-bg.png);
  background-repeat: no-repeat;
  background-position: 2% 12%;
  margin-bottom: 80px;
}
.chief-bio {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 12px;
}
.chief-intro h3 {
  font-size: 20px;
  font-weight: 600;
}
.chief-title {
  font-size: 16px;
  font-weight: 400;
  margin-top: 4px;
}
/* Opinion section table  */
.opinion-matters h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
}
.opinion-table {
  border-radius: 16px;
  background-color: #ffffff;
  border: 1px solid transparent;
  padding: 48px 24px;
  margin-bottom: 80px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid rgba(14, 14, 14, 0.15);
  font-weight: 600;
}
td {
  padding: 10px 15px;
}
th {
  font-size: 20px;
  font-weight: 600;
  padding: 15px 20px;
  text-align: left;
  background-color: #c6e4d6;
  border: none;
}

select {
  text-align: center;
  padding: 10px 14px;
  margin: 10px 0px 10px 65px;
  font-size: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 5px;
  background-color: #c6e4d6;
  /* appearance: none; */
}

/* Recent news ara  */
.satellite-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 48px;
  margin: 40px auto;
}
.satellite-block2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 32px;
  padding: 48px;
  margin: 40px auto;
}
.satellite-block img {
  width: 408px;
  border-radius: 24px;
  border: none;
}
.satellite-title h2 {
  font-size: 32px;
  font-weight: bold;
}
.satellite-title img {
  width: 140px;
  display: block;
  margin: 12px 0px;
}
.satellite-title p {
  margin: 12px 0px 32px 0px;
}
/* Donate section  */
.donate-title-wrapper {
  margin: 80px 0px;
}
.donate-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.donate-title h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
}
.donate-title p {
  font-size: 16;
  font-weight: 400;
  margin-bottom: 32px;
}
.donate-ammount-digit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.donate-ammount-digit h3 {
  background-color: #ffffff;
  font-size: 40px;
  padding: 40px;
  font-weight: bold;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}
/* For active class */
/* .donate-ammount-digit h3:active {
  background-color: #c6e4d6;
} */
#green {
  background-color: #c6e4d6;
}
.other-ammount input {
  width: 82%;
  display: block;
  padding: 20px 40px;
  margin: 32px auto;
  text-align: center;
  border: none;
}
.other-ammount button {
  display: block;
  margin: auto;
}
/* Footer section  */
.subcribe-section {
  background-color: #c6e4d6;
  border-radius: 24px;
  border: 1px solid transparent;
  padding: 80px 100px 80px 80px;
  margin: 80px auto;
}
.subcribe-section h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.subcribe-section p {
  font-size: 16px;
  font-weight: 400;
  margin: 24px auto;
  text-align: center;
}
form {
  display: flex;
  justify-content: center;
}
#emaid-address {
  width: 600px;
  padding: 18px 40px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border: none;
}
#btn-sub {
  width: 150px;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #006a50;
  color: #ffffff;
  border-left: none;
  border: 1px solid transparent;
}
/* social media icon  */
.social-media-icon h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 24px;
}
.social-media-icon hr {
  width: 80%;
  margin: auto;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 24px auto;
}
